body {
  height: 100vw;
  margin: 0;
  width: 100vw;
  overflow: hidden;
}

#_next {
  height: 100vw;
  margin: 0;
  width: 100vw;
  overflow: hidden;
}

.player-wrapper {
  background-position: center;
  background-size: cover;
  background-color: red;
}

.react-player {
  position: relative;
}

.react-player video {
  width: 100vw !important;
  height: 100vh !important;
}

.githubholder {
  position: absolute;
  bottom: 0;
  right: 0;
  zoom: 0.25;
}

.image-wrapper-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
