body {
  height: 100vw;
  margin: 0;
  width: 100vw;
  overflow: hidden;
}

#_next {
  height: 100vw;
  margin: 0;
  width: 100vw;
  overflow: hidden;
}

.player-wrapper > div {
  position: relative;
}

.react-player video {
  width: 100vw !important;
  height: 100vh !important;
}
